.MainPage {
  background: linear-gradient(#05FBFF, #99ff99);
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.Animal-logo1 {
  width: 150px;
  height: auto;
  padding-right: 0px;
}

.Animal-logo2 {
  width: 150px;
  height: auto;
  margin-left: 0px;
}

.title-container h1, h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

.title-container h1 {
  font-size: 80px;
  display: inline;
}

.title-container h2 {
  margin-top: 0px;
  margin-bottom: 70px;
  font-size: 60px;
}

.txt-container {
  color: rgb(91, 87, 105);
  line-height: 6px;
  font-size: 20px;
  margin-bottom: 50px;
}

.Pixabay {
  width: auto;
  height: 50px;
}

.footer {
  margin-bottom: 30px;
}

.footer a {
  display: block;
  font-size: 20px;
  font-family: fantasy;
  padding-top: 5px;
  margin-bottom: 0px;
  cursor: pointer;
}

.footer a:hover {
  background-color: rgb(167, 172, 247);
  border-radius: 10px;
}

.footer span {
  color: #de3761;
}

@media screen and (max-width:480px) {
  .Animal-logo1 {
    width: 15%;
    height: auto;
    padding-right: 0px;
  }
  .Animal-logo2 {
    width: 15%;
    height: auto;
    padding-right: 0px;
  }
  .title-container h1 {
    font-size: 30px;
    display: inline;
  }
  .title-container h2 {
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 20px;
  }
  .txt-container {
    color: rgb(91, 87, 105);
    line-height: 3px;
    font-size: 2px;
    margin-bottom: 20px;
  }
  .Pixabay {
    width: auto;
    height: 20px;
  }
  .footer a {
    font-size: 10px;
    margin-top: 0px;
  }
}