.MainPage {
  background: linear-gradient(#05FBFF, #99ff99);
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  overflow: hidden;
}

.scroll {
  width: 100vh;
}

.movingCat {
  /* display: flex; */
  width: 100px;
  height: auto;
  overflow: hidden;
  animation: scrollmovingCat 8s linear infinite;
}

@keyframes scrollmovingCat {
  0% {
    transform: translateX(600%);
  }
  100% {
    transform: translateX(-600%);
  }
}

.Animal-logo1 {
  width: 150px;
  height: auto;
  padding-right: 0px;
}

.Animal-logo2 {
  width: 150px;
  height: auto;
  margin-left: 0px;
}

.title-container h1, h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

.title-container h1 {
  font-size: 80px;
  display: inline;
}

.title-container h2 {
  margin-top: 0px;
  margin-bottom: 70px;
  font-size: 60px;
}

.txt-container {
  color: rgb(91, 87, 105);
  line-height: 6px;
  font-size: 20px;
  margin-bottom: 50px;
}

.Pixabay {
  width: auto;
  height: 50px;
}

.footer {
  margin-bottom: 30px;
  display: block;
  font-size: 10px;
  font-family: serif;
  padding-top: 5px;
  margin-bottom: 0px;
  cursor: pointer;
}

.footer a:hover {
  background-color: rgb(167, 172, 247);
  border-radius: 10px;
}

.footer span {
  color: #de3761;
}

@media screen and (max-width:1112px) {
  .title-container h1 {
    font-size: 70px;
    display: inline;
  }
  .movingCat {
    width: 100px;
    height: auto;
    overflow: hidden;
    animation: scrollmovingCat 8s linear infinite;
  }
  @keyframes scrollmovingCat {
    0% {
      transform: translateX(1000%);
    }
    100% {
      transform: translateX(-1000%);
    }
  }
}

@media screen and (max-width:480px) {
  .movingCat {
    width: 60px;
    height: auto;
    overflow: hidden;
    animation: scrollmovingCat 8s linear infinite;
  }
  @keyframes scrollmovingCat {
    0% {
      transform: translateX(1000%);
    }
    100% {
      transform: translateX(-1000%);
    }
  }
  .Animal-logo1 {
    width: 10%;
    height: auto;
    padding-right: 0px;
  }
  .Animal-logo2 {
    width: 10%;
    height: auto;
    padding-right: 0px;
  }
  .title-container h1 {
    font-size: 30px;
    display: inline;
  }
  .title-container h2 {
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 20px;
  }
  .txt-container {
    color: rgb(91, 87, 105);
    line-height: 3px;
    font-size: 10px;
    margin-bottom: 20px;
  }
  .Pixabay {
    width: auto;
    height: 20px;
  }
  .footer {
    font-size: 20px;
    margin-bottom: 20px;
  }
}