/* .searching{
  padding-left: auto;
  padding-right: auto;
} */


.searching p {
  color: blueviolet;
  font-family: fantasy;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 0px;
  margin: 0px,10px,30px,0px;
  float: left;
}

.one{
font-size: 20px;
}

.searching input{
  padding-top: 6px;
  float: left; /*これ消すとボタンと位置が入れ替わる*/
}

.Button-style{
  height: 25px;
  cursor: pointer;
  margin-bottom: 100px;
  vertical-align: middle;
  margin-left: 5px;
}