.searching p {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 0px;
  margin: 0px,10px,30px,0px;
  float: left;
}

span{
font-size: 30px;
}

.searching input{
  padding-top: 6px;
  float: left
}

.searching button{
  float: left
}