.serching {
 display: inline-block;

}
.searching-wrapper p {
  color: black;
  font-family: fantasy;
  font-size: 20px;
  font-weight: bold;
  line-height: 5px;
  margin-right: 10px;
  margin-top: 15px;
}

.searching-wrapper input {
  height: 23px;
  margin: auto;
}

.Button-style {
  margin: 0 2px;
  height: 25px;
  cursor: pointer;
  box-shadow: 0 2px rgb(129, 127, 127);
  border-radius: 3px;
}

.Button-style:active{
  box-shadow: none;
  position: relative;
  top:3px;

}

.image-wrapper {
  width: 1250px;
  list-style: none;
  padding: 0 10px;
  margin-top: 5px;
  display: inline-block;
  border: 1px solid black;
}

.image-wrapper li img {
  height: 200px;
  width: 24%;
  margin: 5px;
  border: 1px solid rgb(192, 192, 192);
  object-fit: contain;
  vertical-align: top;
  background-color: rgb(223, 223, 223);
  float: left;
}